@import "tailwindcss";

@font-face {
    font-family: "Chillax";
    src: url("../assets/fonts/Chillax-Extralight.otf");
}

@font-face {
    font-family: "Clash";
    src: url("../assets//fonts/ClashGrotesk-Extralight.otf");
}

@font-face {
    font-family: "Paragraph";
    src: url("../assets/fonts/Paragraph.otf");
}

@font-face {
    font-family: "Logote";
    src: url("../assets//fonts/logote.otf");
}

@theme {
    --font-chillax: Chillax, "sans-serif";
    --font-clash: Clash, "sans-serif";
    --font-paragraph: Paragraph, "script";
    --font-logote: Logote, "logote";
}

::-webkit-scrollbar {
    display: none;
}